<html>
  <head>
    <title>Hackups</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/js/jquery-ui.custom.min.js"></script>
    <link href="/static/pepper-grinder/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css" />
    {%block scripts%}{%endblock%}
  </head>
  <body>
  	<div id="top">
 			{% if twittername %}
		 	  <span>
          <strong>Bienvenid@, {{twittername}}!</strong>|
          <a href="/logout">Cerrar Sesión</a>
          <a href="/create">Crear un nuevo hackup</a>
        </span>
			{% else %}
			  <span>
          <a style="font-weight: bold;" href="{{login_url}}">Iniciar sesión</a> 
        </span>
			{% endif %}
		</div>
    <div id="wrapper">
      <div id="header">
        <a href="/"><img src="/static/logo.jpg" style="float: left;" /></a>
        <h1>Hack ups</h1>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
