{% extends 'base.html' %}
{%block scripts%}
<script type="text/javascript">

    $(function () {
        $.datepicker.setDefaults({ dateFormat: 'dd/mm/yy' });
        $("#when").datepicker();
    });  

</script>
{%endblock%}
{% block content %}

<h3>Crear un hackup</h3>
<div id="hackups">
  <form method="POST">
    <div>
      Descripcion:
      <textarea name="descripcion" onclick="this.value='';">
        En este lugar escribe donde va a ser, de qué hora a qué hora y una manera de contactarte.
      </textarea>
    </div>
    <div>
      Cuándo va a ser:
      <input type="text" name="when" id="when"></input>
    </div>
    <div>
      <input type="submit" value="Crear"/>
    </div>
 </form>
</div>
{% endblock %}
