{% extends 'base.html' %}
{% block content %}

<h3>hackup</h3>
<div id="hackups">
  <div>Cuando:{{hackup.when|date:"M-d-Y"}}</div>
  <div>Descripcion:{{hackup.details}}</div>

  <div id="confirmados">
    <h3>Gente confirmada o en el evento:</h3>
    {% for confirmado in confirmList %}
      <div>{{confirmado.user.nickname}}</div>
    {% endfor %}
  </div>
  {% if not confirmed %}
    <hr/>
    <div>Vas a ir o estas en el evento, confirmalo: 
      <form action="/confirm/{{hackup.key.id}}" method="POST">
        <input type="submit" value="Confirmar"></input>
      </form>
    </div>
   {% endif %}
   <div id="comment">
    <h3>Comentarios:</h3>
     {% for comment in commentList %}
       <hr/>
       <div>Comentario:<pre>{{comment.text}}</pre></div>
       <div>Author:{{comment.user.nickname}}</div>
     {% endfor %}
   </div>
   <form method="POST" action="/comment/{{hackup.key.id}}">
      Comentario<textarea name="comment"></textarea>
      <input type="submit" value="Comentar"/>
   </form>
</div>
{% endblock %}
